nav#navbar {
	grid-area: navbar;
	position: fixed;
	top: 2%;
	font-size: 125%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #045147;
	color: rgb(189, 241, 241);
}

nav#navbar a {
	display: block;
	border: 1px solid rgb(202, 199, 199);
	margin-top: 1.25%;
	margin-bottom: 1.25%;
	margin-right: auto;
	margin-left: 0%;
	text-decoration: none;
	font-size: medium;
	background-color: #045147;
	color: rgb(189, 241, 241);
}

nav#navbar a:hover {
	background-color: #A8C077;
	color: #036b5d;
}

img#logo {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	width: 100px;
	height: 100px;
}

body {
	font-family: sans-serif;
}

div.main-body {
	background-color: #036b5d;
	margin-left: 10%;
	margin-right: 10%;
}

div#docLinks {
	display: flex;
	justify-content: space-evenly;
}

div#docLinks a {
	display: flex;
	justify-content: space-evenly;
	color: rgb(189, 241, 241);
}

div#docLinks a:hover {
	background-color: #A8C077;
	color: #036b5d;
}

div#mainHeaders {
	border: 4px solid rgb(202, 199, 199);
	border-style: ridge;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: #A8C077;
}

div#sectionHeader {
	border: 2px solid rgb(192, 188, 188);
	text-align: center;
	color: #4aec9e;
}

div#outerBorder {
	background-color: #045147;
}

div#lists {
	display: flex;
	color: #A8C077;
	justify-content: center;
	text-align: left;
}

body {
	background-color: rgb(234, 204, 159);
}

div#codeBlock {
	display: flex;
	justify-content: center;
}

.sh_cpp {
	text-align: left;
	width: fit-content;
}

p {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	color: #A8C077;
}

a {
	color: rgb(189, 241, 241);
}

table,
th,
td {
	border: 2px solid rgb(52, 98, 62);
}

div#tables {
	display: table;
	text-align: center;
	background-color: #A8C077;
	color: #022d0d;
	margin-left: auto;
	margin-right: auto;
}

div#subHeaders {
	border-top: 2px solid rgb(202, 199, 199);
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	color: #cbff64;
	margin-left: auto;
	margin-right: auto;
}

.search-bar {
	display: block;
	justify-content: right;
	margin-left: auto;
}

.searchBox {
	display: block;
	justify-content: right;
	text-align: left;
	font-size: medium;
	margin-left: auto;
	padding-right: 4%;
	margin-right: 10%;
}

.search_button {
	display: block;
	justify-content: right;
	background-color: rgb(244, 239, 239);
	margin-left: auto;
	margin-right: 10%;
	position: relative;
	padding-left: 2%;
	padding-right: 2%;
	top: -22px;
	width: 20px;
	height: 20px;
}