img#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	width: 300px;
	height: 300px;
	margin-top: -115px;
	margin-bottom: -125px;
}

body {
	background-color: rgb(234, 204, 159);
	font-family: sans-serif;
}

#main-body {
	background-color: rgb(3, 107, 93);
	margin-left: 10%;
	margin-right: 10%;
	transition: margin-left .5s;
}

.docLinks {
	display: flex;
	justify-content: space-evenly;
	border-top: 2px solid rgb(202, 199, 199);
	border-bottom: 2px solid rgb(202, 199, 199);
}

.docLink {
	display: flex;
	justify-content: space-evenly;
	color: rgb(189, 241, 241);
	margin-top: 1%;
	margin-bottom: 1%;
}

.docLinks a:hover {
	background-color: rgb(168, 192, 119);
	color: rgb(3, 107, 93);
}

.mainHeaders {
	border: 4px solid rgb(202, 199, 199);
	border-style: ridge;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: #A8C077;
}

.sectionHeader {
	border: 2px solid rgb(192, 188, 188);
	text-align: center;
	color: #4aec9e;
}

.outerBorder {
	background-color: #045147;
	margin-left: 0.7%;
	margin-right: 0.7%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.lists {
	display: flex;
	justify-content: center;
	color: rgb(168, 192, 119);
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}

.codeBlock {
	display: flex;
	justify-content: center;
}

.sh_cpp {
	text-align: left;
	width: 650px;
	overflow-x: auto;
	margin-left: auto;
	margin-right: auto;
}

p {
	justify-content: center;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
	color: rgb(168, 192, 119);
}

a {
	color: rgb(189, 241, 241);
}

table,
th,
td {
	border: 2px solid rgb(52, 98, 62);
}

.tables {
	display: table;
	text-align: center;
	background-color: #A8C077;
	color: #022d0d;
	margin-left: auto;
	margin-right: auto;
}

.subHeaders {
	font-size: 120%;
	border-top: 2px solid rgb(202, 199, 199);
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	text-align: center;
	color: #cbff64;
	margin-left: auto;
	margin-right: auto;
}

.search-bar {
	display: block;
	justify-content: right;
	margin-left: auto;
}

.searchBox {
	display: block;
	justify-content: right;
	text-align: left;
	font-size: medium;
	margin-left: auto;
	padding-right: 4%;
	margin-right: 10%;
}

.search_button {
	display: block;
	justify-content: right;
	background-color: rgb(244, 239, 239);
	margin-left: auto;
	margin-right: 10%;
	position: relative;
	padding-left: 2%;
	padding-right: 2%;
	top: -22px;
	width: 20px;
	height: 20px;
}

.hamburger_menu {
	display: block;
	cursor: pointer;
	position: fixed;
	top: 2%;
	margin-left: 1%;
	margin-right: auto;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #A8C077;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
}

.nav_menu {
	display: none;
}

.nav_link {
	display: none;
	background-color: #045147;
	color: rgb(189, 241, 241);
	border: 1px solid rgb(202, 199, 199);
	margin-top: 4%;
	margin-bottom: 1.25%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	text-decoration: none;
	font-size: 95%;
}

.nav_link:hover {
	background-color: #A8C077;
	color: #036b5d;
}

.change .nav_menu {
	display: block;
}

.change .nav_link {
	display: block;
}

.dropdown-content {
	display: none;
	margin-top: 4%;
	margin-bottom: 1.25%;
	padding-left: 15%;
	text-decoration: none;
	font-size: 90%;
	background-color: #045147;
	color: rgb(189, 241, 241);
}

.dropdown_content_nested {
	display: none;
	justify-content: center;
	text-align: center;
	margin-top: 4%;
	margin-bottom: 1.25%;
	padding-left: 15%;
	text-decoration: none;
	font-size: 90%;
	color: rgb(189, 241, 241);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown_nested:hover .dropdown_content_nested {
	display: block;
}

.sticky_content {
	position: sticky;
	background-color: #036b5d;
	top: 0;
}

.center_text {
	display: block;
	justify-content: left;
	text-align: center;
	color: rgb(168, 192, 119);
}

.doc_tree {
	display: block;
	justify-content: left;
	text-align: center;
	margin: auto;
}

@media screen and (max-width:768px) {
	.docLinks {
		display: none;
	}

	.docLinks a {
		display: none;
	}

	.hamburger_menu {
		display: block;
	}

	.lists {
		margin-left: 0%;
		margin-right: 0%;
	}

	p {
		margin-left: 0%;
		margin-right: 0%;
	}

	.sh_cpp {
		width: 350px;
		overflow-x: scroll;
	}

	.search-bar {
		padding-right: 0%;
		margin-right: 20%;
	}

	.search_button {
		padding-left: 2%;
		padding-right: 2%;
	}

	ol {
		margin-left: 0%;
		margin-right: 0%;
	}

	p,
	.mainHeaders,
	.sh_cpp,
	.subHeaders,
	.center_text {
		font-size: 85%;
		margin-left: 2%;
		margin-right: 3%;
	}

	li {
		font-size: 90%;
		margin-right: 2%;
	}

	#main-body {
		margin-left: 3.5%;
		margin-right: 3.5%;
	}
}

@media screen and (min-width:769px) {
	.docLinks {
		display: flex;
	}

	.docLinks a {
		display: flex;
	}

	.hamburger_menu {
		display: none;
	}

	.dropdown {
		margin-top: 1%;
		margin-bottom: 1%;
		background-color: transparent;
		color: rgb(189, 241, 241);
		border: none;
		font-size: 100%;
	}

	.dropdown-content {
		text-decoration: none;
		background-color: transparent;
		color: rgb(189, 241, 241);
		justify-content: center;
		margin: auto;
		padding: 0%;
		box-shadow: gray;
	}

	.dropdown-content_nested {
		text-decoration: none;
		background-color: transparent;
		color: rgb(189, 241, 241);
		justify-content: center;
		margin: auto;
		padding: 0%;
		box-shadow: gray;
	}

	.dropdown:hover .dropdown-content .nav_link {
		display: block;
		text-align: center;
		justify-content: center;
	}

	.dropdown-content:hover .dropdown-content_nested .nav_link {
		display: block;
		text-align: center;
		justify-content: center;
	}

	ol {
		margin-left: 20%;
		margin-right: 20%;
	}
}